:root {
  --theme-white: #FCFCFC;
  --theme-gray: #F5F5F5;
  --theme-body-copy: #4A4A4A;
  --theme-link-underline: #CCC;
  --theme-link-hover: #CA1F4F;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  transition: all .4s;
}

body {
  padding: 0;
  margin: 0;
  background: var(--theme-gray);
}

a {
  color: var(--theme-body-copy);
  text-decoration: none;
}
  a:hover {
    color: var(--theme-link-hover);
  }
  a.active,
  a.active:hover {
    color: var(--theme-link-hover);
    cursor: default;
  }

/* --- Navigation --- */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px dotted silver;
  height: 1.2em;
  padding: 10px 16px;
}

#root-navigation {
  font-size: 126px;
  font-weight: 200;
  white-space: nowrap;
}

#section-navigation {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 800;
  white-space: nowrap;
}

#content-navigation {
  font-size: 20px;
  white-space: nowrap;
  height: auto;
}
  #content-navigation > a {
    width: 200px;
    display: inline-block;
    white-space: normal;
    margin-right: 20px;
  }

/* --- Navigation transition states --- */

nav {
  transform-origin: bottom left;
}

.level-2 #root-navigation {
  transform: translateY(-150%) scale(2);
  opacity: 0;
  pointer-events: none;
}

.level-1 #root-navigation {
  transform: translateY(-50%) scale(1.5);
}

.level-1 #section-navigation {
  transform: translateY(-150%) scale(1.5);
}

.level-2 #section-navigation {
  transform: translateY(-250%) scale(2);
}

.level-1 #content-navigation {
  transform: translateY(-100px);
}

.level-2 #content-navigation {
  transform: translateY(-200px);
}
